---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=nysued5unnmfhft4bp5u6779&format=json&pageSize=15&show=longName,city,distance,phone
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 15,
          "total": 16,
          "currentPage": 1,
          "totalPages": 2,
          "queryTime": "0.004",
          "totalTime": "0.019",
          "partial": false,
          "canonicalUrl": "/v1/stores(area(\"80202\",25))?show=longName,city,distance,phone&format=json&apiKey=nysued5unnmfhft4bp5u6779",
          "stores": [
            {
              "longName": "Best Buy Mobile - Cherry Creek Shopping Center",
              "city": "Denver",
              "distance": 3.25,
              "phone": "303-270-9189"
            },
            {
              "longName": "Best Buy - Belmar",
              "city": "Lakewood",
              "distance": 5.28,
              "phone": "303-742-8039"
            },
            {
              "longName": "Best Buy - Colorado Blvd",
              "city": "Denver",
              "distance": 5.61,
              "phone": "303-758-5805"
            },
            {
              "longName": "Best Buy - Denver West",
              "city": "Lakewood",
    [...]
